.plain-textfield {
  --pure-material-safari-helper1: #202A34;
  --box-border-noclick: #A5B2B6;
  position: relative;
  display: inline-block;
  padding-top: 6px;
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

/* Input, Textarea */
.plain-textfield > input,
.plain-textfield > textarea {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px; /* Safari */
  border-color: #A5B2B6;
  border-top-color: transparent;
  border-radius: 3px;
  padding: 15px 13px 15px;
  width: 100%;
  height: 50px;
  caret-color: #C70000;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  background-color: transparent;
  box-shadow: none; /* Firefox */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: border 0.2s, box-shadow 0.2s;
}

/* Span */
.plain-textfield > input + span,
.plain-textfield > textarea + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  width: 100%;
  max-height: 100%;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  font-size: 75%;
  line-height: 15px;
  cursor: text;
  transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}

/* Corners */
.plain-textfield > input + span::before,
.plain-textfield > input + span::after,
.plain-textfield > textarea + span::before,
.plain-textfield > textarea + span::after {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: var(--box-border-noclick);
  min-width: 10px;
  height: 8px;
  pointer-events: none;
  box-shadow: inset 0 1px transparent;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.plain-textfield > input + span::before,
.plain-textfield > textarea + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 3px 0;
}

.plain-textfield > input + span::after,
.plain-textfield > textarea + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 3px;
}

/* Placeholder-shown */
.plain-textfield > input:not(:focus):placeholder-shown,
.plain-textfield > textarea:not(:focus):placeholder-shown {
  border-top-color: #A5B2B6;
}

.plain-textfield > input:not(:focus):placeholder-shown + span,
.plain-textfield > textarea:not(:focus):placeholder-shown + span {
  font-size: inherit;
  line-height: 61px;
}

.plain-textfield > input:not(:focus):placeholder-shown + span::before,
.plain-textfield > textarea:not(:focus):placeholder-shown + span::before,
.plain-textfield > input:not(:focus):placeholder-shown + span::after,
.plain-textfield > textarea:not(:focus):placeholder-shown + span::after {
  border-top-color: transparent;
}

/* Focus */
.plain-textfield > input:focus,
.plain-textfield > textarea:focus {
  border-color: transparent;
  border-top-color: transparent;
  box-shadow: inset 0px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
  outline: none;
}

.plain-textfield > input:focus + span,
.plain-textfield > textarea:focus + span {
  color: #202A34;
}

.plain-textfield > input:focus + span::before,
.plain-textfield > input:focus + span::after,
.plain-textfield > textarea:focus + span::before,
.plain-textfield > textarea:focus + span::after {
  border-top-color: #202A34;
 box-shadow: inset 0 px var(--pure-material-safari-helper1);
}

/* Disabled */
.plain-textfield > input:disabled,
.plain-textfield > input:disabled + span,
.plain-textfield > textarea:disabled,
.plain-textfield > textarea:disabled + span {
  border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
  border-top-color: transparent !important;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  pointer-events: none;
}

.plain-textfield > input:disabled + span::before,
.plain-textfield > input:disabled + span::after,
.plain-textfield > textarea:disabled + span::before,
.plain-textfield > textarea:disabled + span::after {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.plain-textfield > input:disabled:placeholder-shown,
.plain-textfield > input:disabled:placeholder-shown + span,
.plain-textfield > textarea:disabled:placeholder-shown,
.plain-textfield > textarea:disabled:placeholder-shown + span {
  border-top-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38) !important;
}

.plain-textfield > input:disabled:placeholder-shown + span::before,
.plain-textfield > input:disabled:placeholder-shown + span::after,
.plain-textfield > textarea:disabled:placeholder-shown + span::before,
.plain-textfield > textarea:disabled:placeholder-shown + span::after {
  border-top-color: transparent !important;
}

/* Faster transition in Safari for less noticable fractional font-size issue */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
      .plain-textfield > input,
      .plain-textfield > input + span,
      .plain-textfield > textarea,
      .plain-textfield > textarea + span,
      .plain-textfield > input + span::before,
      .plain-textfield > input + span::after,
      .plain-textfield > textarea + span::before,
      .plain-textfield > textarea + span::after {
          transition-duration: 0.1s;
      }
  }
}